build
coverage
public/world.json
robots.txt
.husky/
.prettierignore
.tool-versions
.gitattributes
.editorconfig
.node-version
.npmrc
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.ico
**/*.svg
**/*.webp
**/*.mp4
**/*.webm
**/*.mov
**/*.mp3
**/*.woff
**/*.woff2
**/*.ttf
**/*.otf
**/*.eot
**/*.zip