@font-face {
  font-family: "Departure Mono";
  src:
    url("./DepartureMono-Regular.woff2") format("woff2"),
    url("./DepartureMono.woff-Regular") format("woff"),
    url("./DepartureMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
